name: osam_common_module_flutter
description: OSAM's Flutter common module
version: 8.0.7-dev
homepage: 'https://ajuntament.barcelona.cat/imi/ca/oficina-de-serveis-al-mobil'
issue_tracker: 'https://github.com/AjuntamentdeBarcelona/modul_comu_osam_flutter/issues'
repository: 'https://github.com/AjuntamentdeBarcelona/modul_comu_osam_flutter'

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^5.0.0
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: cat.bcn.commonmodule.flutter.osam_common_module_flutter
        pluginClass: CommonModuleFlutterPlugin
      ios:
        pluginClass: CommonModuleFlutterPlugin